# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code (если используешь)
.vscode/

# Byte-compiled / optimized files
*.pyo
*.pyd
*.pdb

# OS-specific files
.DS_Store
Thumbs.db

secret/
krci_key-alt.yaml